<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
  <system>
        <tab id="pricenegotiator" translate="label" sortOrder="10">
             <label>Ipragmatech Extension</label>
        </tab>
	    <section id="pricenegotiatorsection" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>Price Negotiator</label>
			<tab>pricenegotiator</tab>
			<resource>Ipragmatech_Pricenegotiator::config_pricenegotiator</resource>
			<group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General</label>
				<field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
			 <group id="negotiator_notification" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
            	<label>Notification</label>
				<field id="admin_notify" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Admin Notificatin</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="admin_email" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
					<depends>
                        <field id="admin_notify">1</field>
                    </depends>
                    <label>Admin Email</label>
					<validate>validate-email required-entry</validate>
				</field>
            </group>
            <group id="query_expire_time" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
            	<label>Query Expire Setting</label>
				<field id="admin_no_reply" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Admin No-response</label>
					<validate>validate-greater-than-zero required-entry</validate>
					<comment> <![CDATA[Query expire after admin not replied. (in hours)!]]></comment>
					
				</field>
				<field id="customer_no_apply" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Customer No-response</label>
					<validate>validate-greater-than-zero required-entry</validate>
					<comment> <![CDATA[Query expire if customer not uses. (in hours)!]]></comment>
				</field>
            </group>
		</section>
	</system>
</config>
